<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoon.swing">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SwingApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="SWing"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RepeatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RecordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ChooseClubActivity"></activity>
    </application>

</manifest>